<!DOCTYPE html>
{% set title = "ComicStreamer: About" %}
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="icon" href="/favicon.ico" />

		{% include head_links.html %}

        <title>{{title}}</title>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

        <style type="text/css">
            @import "{{ static_url('comicstreamer.css') }}";
        </style>

    </head>
    <body>
        <div id="header">
            {% include header.html %}
        </div>
        <div id=content>
		<main>
			<header><h3>ComicStreamer {{version}}</h3></header>
			<summary>A comic file media server</summary>
			<br>
			<div> Project hosted at GitHub: <a href="https://github.com/beville/ComicStreamer">https://github.com/beville/ComicStreamer</a></div>
			<p></p>
		<details>
		<summary>Copyright 2014 Anthony Beville</summary>
		<pre>
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
		</pre>
		</details>
		<p></p>
			<article>
				<div>ComicStreamer uses the following packages/projects/products:</div>
				<br>
				<div>Server-side:</div>
				<ul>
					<li><a href="https://www.python.org" >Python</a></li>
					<li><a href="http://www.sqlalchemy.org/" >SQLAlchemy</a></li>
					<li><a href="http://www.tornadoweb.org" >Tornado</a></li>
					<li><a href="https://github.com/python-imaging/Pillow" >Pillow (PIL fork)</a></li>
					<li><a href="http://pythonhosted.org//watchdog/" >Watchdog</a></li>
					<li><a href="https://labix.org/python-dateutil" >Dateutil</a></li>
					<li><a href="http://www.voidspace.org.uk/python/configobj.html" >ConfigObj</a></li>
					<li><a href="http://code.google.com/p/comictagger/" >ComicTagger</a></li>
					<li><a href="http://www.rarlab.com/" >RARLAB's UnRAR for Mac OSX and UnRAR.dll for Windows</a></li>
					<li><a href="https://code.google.com/p/py-unrar2/" >PyUnRAR2</a></li>
					<li><a href="https://github.com/jaredks/rumps" >rumps</a></li>
					<li><a href="https://code.google.com/p/pybonjour/" >pybonjour</a></li>
				</ul>
				<div>Client-side:</div>
				<ul>
					<li><a href="http://www.dynatable.com/" >Dynatable</a></li>
					<li><a href="http://qtip2.com/" >qTip2</a></li>
					<li><a href="https://github.com/balaclark/HTML5-Comic-Book-Reader" >HTML5 Comic Book Reader</a></li>
				</ul>
			<article>

		</main>

        </div>

        <div id=navigation>
            {% include menu.html %}
        </div>

    </body>
</html>

