<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        
        <title>{{title}}</title>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="{{ static_url('comicbook/js/comicbook.js') }}"></script>
        <link rel="stylesheet" href="{{ static_url('comicbook/comicbook.css') }}">
        <style>.toolbar li:first-child, .toolbar li:nth-child(2) {display:none}</style>
    </head>
    <body>
    
    <canvas id="comic"></canvas>
    
    <script>
        var pages,book,i;
        pages = [];
        for( i=0; i<{{count}}; i++ )
        {
           pages.push('page/'+i);
        }
        
        target_page = {{page}};
        if (target_page != 0 && location.hash=='')
        {
            location.hash = (target_page+1).toString()
        }
        //set the bookmark
        $.getJSON( 'page/' + target_page  +'/bookmark')
        
        book=new ComicBook('comic',pages ,
            {  
                libPath: "{{ static_url('comicbook/js') }}", 
                displayMode: 'single', 
                keyboard: { next: 39, previous: 37 },
                pageTurnCallback: function(page){$.getJSON( 'page/'+(page-1)+'/bookmark')}
            }
        );
        book.draw();
        $(window).on('resize',function(event){book.draw();});
    </script>
    
    </body>
</html>

