<!DOCTYPE html>
{% autoescape xhtml_escape %}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="icon" href="/favicon.ico" />	      
        <title>ComicStreamer - Search Results</title>

        <style type="text/css" title="currentStyle">
            @import "{{ static_url('dynatable/jquery.dynatable.css') }}";    
            @import "{{ static_url('qtip2/jquery.qtip.css') }}";   
            @import "{{ static_url('comicstreamer.css') }}";
        </style>    
        <script type="text/javascript" language="javascript" src="https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js"></script>

        <script type="text/javascript" src="{{ static_url('dynatable/jquery.dynatable.js') }}"></script>
        <script src="{{ static_url('qtip2/jquery.qtip.js') }}"></script>
         
        <script type="text/javascript" charset="utf-8">

            function populateComicDetails(cd, comic)
            {
                
                var thumb_url = '/comic/'+ comic.id +'/thumbnail?api_key={{api_key}}';
                var reader_url = '/comic/'+ comic.id +'/reader?api_key={{api_key}}';
                var download_url = '/comic/'+ comic.id +'/file?api_key={{api_key}}';
                var json_url = '/comic/'+ comic.id +'?api_key={{api_key}}';
            
                $(cd).find('.cd_thumbnail').attr('src', thumb_url);
                $(cd).find(".cd_reader_link").attr('href', reader_url);
            
                //$(cd).find(".cd_file_link").text(comic.path);
                $(cd).find(".cd_path").text(comic.path);
                
                $(cd).find(".cd_file_link").attr('href', download_url);
                $(cd).find(".cd_json_link").attr('href', json_url);
            
                str = comic.series;
                if (comic.issue !== "") {
                    str = str + ' #' + comic.issue;
                }
                $(cd).find(".cd_issue").text(str);
            
                if (comic.year !== "") {
                    str = comic.year.toString();
                    if (comic.month !== "") {
                        month_names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                        str = month_names[comic.month-1] + " " + str;
                    }
                    str = '(' + str + ')'
                    $(cd).find(".cd_date").text(str);
                }
            
                if (comic.title !== "") {
                    str = '"' + comic.title + '"';
                    $(cd).find(".cd_title").text(str);
                }
            
                if (comic.volume !== "") {
                    str = "vol. " + comic.volume.toString() + ", ";
                    $(cd).find(".cd_volume").text(str);
                }
            
                $(cd).find(".cd_publisher").text(comic.publisher);
                $(cd).find(".cd_pagecount").text("[" + comic.page_count + " pages]") ;
                
                comments = comic.comments
                if (comments != null && comments.length > 500)
                {
                    comments = comments.substring(0,500) + "..."
                }
            
                $(cd).find(".cd_comments").text(comments);
            
                for (var property in comic.credits) {
                    $(cd).find('.cd_credits').append('<tr><td>' + property + '</td><td>' + comic.credits[property].join(", ") + '</td></tr>');
                }
            
                if (comic.hasOwnProperty("characters") && comic.characters.length != 0) {
                    $(cd).find('.cd_lists').append('<tr><td>Characters</td><td>' + comic.characters.join(", ") + '</td></tr>');
                }
                if (comic.hasOwnProperty("teams") && comic.teams.length != 0) {
                    $(cd).find('.cd_lists').append('<tr><td>Teams</td><td>' + comic.teams.join(", ") + '</td></tr>');
                }
                if (comic.hasOwnProperty("locations") && comic.locations.length != 0) {
                    $(cd).find('.cd_lists').append('<tr><td>Locations</td><td>' + comic.locations.join(", ") + '</td></tr>');
                }
                if (comic.hasOwnProperty("storyarcs") && comic.storyarcs.length != 0) {
                    $(cd).find('.cd_lists').append('<tr><td>Story Arcs</td><td>' + comic.storyarcs.join(", ") + '</td></tr>');
                }
                if (comic.hasOwnProperty("tags") && comic.tags.length != 0) {
                    $(cd).find('.cd_lists').append('<tr><td>Tags</td><td>' + comic.tags.join(", ") + '</td></tr>');
                }
                return cd;
            }        

            function myAttributeWriter(record)
            {
                var val = record[this.id];
                if (this.id == 'datex')
                {
                    if (record['month'] != "" && record['month'] != "")
                    {
                        val = record['month'] + '/' + record['year'];
                    }
                    else if (record['year'] != "")
                    {
                        val = record['year'];
                    }
                    else
                    {
                        val = "";
                    } 
                }

                return val;
            }
            function myRowWriter(rowIndex, record, columns, cellWriter)
            {
                var tr = '';
                
                // grab the record's attribute for each column
                for (var i = 0, len = columns.length; i < len; i++)
                {
                    tr += cellWriter(columns[i], record);
                }
            
                // add a special id with the comic ID for lookup later on
                rowstr =  '<tr id="comic'+ record.id +'">' + tr + '</tr>';

                //debugger;
                return rowstr;
            }
            
            function addToolTips(rows)
            {
                
                var dynatable = $("#resultset").data("dynatable")
                var comics = dynatable.settings.dataset.records
                
                for(var i=0, len=comics.length; i < len; i++)
                {
                    comic = comics[i];
                    row = $('#comic'+comic.id)

                    // setup tooltip HTML
                    
                    // Find the hidden comic details template and clone it
                    cd = $('#cd_template').clone();
                    // Populate it from the comic record
                    cd = populateComicDetails(cd, comic);
                    //grab the html text
                    popup_text = $(cd).html()
                    
                    row.qtip( {
                            show: 'click',
                            hide:
                                {
                                    event: 'unfocus',
                                },
                            content: {
                               text: popup_text,
                                button: 'Close'
                             },
                            position: {
                                target: $(window),
                                //target: 'mouse',
                                //my: 'left center',
                                my: 'center',
                                at: 'center',
                                viewport: $(window),
                                adjust: {
                                    screen: true,
                                    mouse: false,
                                } 
                            },
                            style: {
                                classes: 'qtip-blue qtip-shadow',
                                width: 800,
                                //def: false
                            }
                        });

                }
            }
            
        
            function setupTable()
            {
                if (location.search.length > 0)
                {
                    args = location.search  + '&api_key={{api_key}}';
                }
                else
                {
                    args = location.search  + '?api_key={{api_key}}';                  
                }
                var table_init =
                {
                    features:
                    {
                        paginate: true,
                        search: true
                    },
                    dataset:
                    {
                        ajax: true,
                        ajaxUrl: '{{src}}'+ args,
                        ajaxOnLoad: true,
                        records: [],
                        //ajaxCache: null,
                        //ajaxMethod: 'GET',
                        perPageDefault: 10,
                        perPageOptions: [10,20,50,100,200],
                     
                    },
                    params:
                    {
                        //queries: 'queries',
                        //sorts: 'order',
                        perPage: 'per_page',
                        records: 'comics',
                        queryRecordCount: 'total_count',
                        totalRecordCount: 'page_count'
                    },
                    writers:
                    {
                        _rowWriter: myRowWriter,
                        _attributeWriter: myAttributeWriter
                    },   
                }
    
                $('#resultset').dynatable( table_init);
                $('#resultset').bind('dynatable:afterUpdate', addToolTips);
                
            }
            
            $(document).ready(
                function()
                {
                    setupTable();
                }
            );
        </script>

 
    </head>
    <body>
   
        <div id="header"><h2>ComicStreamer - Search Results</h2></div>
        <div id="content">
            <table id="resultset" >
                <thead>
                    <tr>
                        <th data-dynatable-column="series">Series</th>
                        <th>Volume</th>
                        <th data-dynatable-sorts="issue_num" data-dynatable-column="issue">Issue</th>
                        <th data-dynatable-sorts="date" data-dynatable-column="datex">Date</th>
                        <th>Title</th>
                        <th>Publisher</th>
                        <th data-dynatable-column="path">Filename</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br>	  
            <div id="tbd">
                TBD:
                <li>Better table style</li>
                <li>Better popups</li>
                <li>More columns?(horiz scrolling??)</li>
                <li>Thumbnails in table??</li>	  
            </div>
        </div>
    
        <div id=navigation>
            {% include menu.html %}
        </div> 

        <!---------------------------------------------------------------------------->
        <!-- JS will clone and populate this hidden chunk later for each comic popup -->
        <div class="comicdetails" id="cd_template" style="display:none">
            <div class="cd_links">
                <center>
                <a class="cd_file_link">Download</a>
                <span> -- </span>
                <a class="cd_reader_link" target="_blank">Reader</a>
                <span> -- </span>
                <a class="cd_json_link" target="_blank">JSON</a>
                </center>
            </div>
            <div class="comicdetails_top"> <a class="cd_reader_link" target="_blank">
                <img class="cd_thumbnail" />
                </a>
        
                <div class="comicdetails_top_right">
                    <div class="cd_issue"></div>
                    <div class="cd_title"></div>
                    <div class="cd_volume"></div>
                    <div class="cd_publisher"></div>
                    <div class="cd_date"></div>
                    <div class="cd_pagecount"></div>
                    <div>
                        <table class="cd_credits"></table>
                    </div>
                </div>
                <br />
            </div>
            <div class="cd_comments"></div>
                    <br />
            <div>
                <table class="cd_lists"></table>
            </div>
            <div class="cd_path"></div>

        </div>
        <!---------------------------------------------------------------------------->

    </body>
</html>

