<!DOCTYPE html>
    {% autoescape None %}
<html>
    <head>
        <meta charset="utf8">
        <link rel="icon" href="/favicon.ico" />	      
        
        <title>ComicStreamer - Config</title>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        
        <style type="text/css">
            @import "{{ static_url('comicstreamer.css') }}";
            

        </style>
        <script type="text/javascript" charset="utf-8">
        
            $(document).ready(
                function()
                {
                    //target_port=0;
                    //if (location.port != target_port) 
                    //{    
                    //    location.port = target_port;
                    //}
                    use_toggle();
                }
            );
            function create_key()
            {
                
                function s4() {
                  return Math.floor((1 + Math.random()) * 0x10000)
                             .toString(16)
                             .substring(1);
                }
                var key = s4() + s4() + s4() + s4() +
                       s4() + s4() + s4() + s4();
                $("#api_key").val(key);               
            }
            function use_toggle()
            {
                $("#api_key").prop('disabled', !($("#use_key").is(':checked')));
                $("#key_btn").prop('disabled', !($("#use_key").is(':checked')));

            }
        </script>       
    </head>
    <body>
        <div id="header"><h2>ComicStreamer - Config</h2></div>
        
        <div id=content>
            
            <form class="entry_form" action="configure" method="post">
                {% module xsrf_form_html() %}
                <div>
                    <label>
                        <span>Port</span><input id="port" type="text" name="port" value="{{formdata['port']}}" />
                    </label>
                    
                    <label>
                        <span>Comic Folders</span> <span class="help">enter one folder per line</span><textarea id="folders" name="folders" >{{formdata['folders']}}</textarea>
                        <span>Username</span><input id="username" type="text" name="username" value="{{formdata['username']}}" />
                        <span>Password</span><input id="password" type="password" name="password" />
                        <span>Password</span> <span class="help">re-enter</span><input id="password" type="password" name="password_confirm" />
                        <span>Use API Key</span><input type="checkbox" name="use_api_key" id="use_key" value="use" onclick="use_toggle()" {{formdata['use_api_key']}}>
                        <span>API Key</span>
                            <div>
                                <input id="api_key" type="text" name="api_key" value="{{formdata['api_key']}}" />
                                <button type="button" class="formbutton" id="key_btn" onclick="create_key()">Generate</button>
                            </div>
                        <input type="submit" id="submit_btn" class="formbutton" value="Save" />
                    </label>
                
                </div>
                <span id="statusbad">{{failure}}</span><span id="statusgood">{{success}}</span>
            </form>

        </div>
        
        <div id=navigation>
            {% include menu.html %}
        </div>
    
    </body>
</html>

