<!DOCTYPE html>
{% set title = "ComicStreamer" %}
<html>
    <head>
        <meta charset="utf8">
        <link rel="icon" href="/favicon.ico" />	      
        
        <title>{{title}}</title>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        
        <style type="text/css">
          @import "{{ static_url('comicstreamer.css') }}";    
        </style>
        <script type="text/javascript" language="javascript">
            function searchSubmit()
            {
                var role = $('#roles_select').val();
                var person = $('#person_input').val();
            
                if (person != "")
                {
                    if (role != "")
                    {
                        person = person+":"+role
                    }
                }
                $('#credit_input').val(person);
            }
            
            function processs_status(scanstatus)
            {
                // if new scan complete time is newer than this page, reload the page
                if (page_load_time < scanstatus.last_complete)
                {
                    location.reload();
                }
                
                // update some elements here
                $('#scan_status').text("Scan status: " + scanstatus.status)
                $('#scan_status_detail').text(scanstatus.detail)
                var delay = 5000;
                if (scanstatus.status != 'IDLE')
                {
                    delay = 2000;
                }
                setTimeout(fetch_status, delay);
            }
            function fetch_status()
            {
                $.getJSON( '/scanstatus?api_key={{api_key}}', processs_status);
            }

            //var date = new Date();
            //var utc_offset = date.getTimezoneOffset() * 60 * 1000;
            var page_load_time = {{ server_time }};
            $(document).ready(

                function()
                {
                    setTimeout(fetch_status, 1000);           
                }
            );
        </script>
           
    </head>
    <body>
        <div id="header">
            {% include header.html %}
        </div>                
        <div id=content>
            <br>
            <div id="main_topbar">
                <div id="main_stats">
                    <h3>Comic Library Info</h3>
                    <ul>
                        <li>Library last updated: {{ stats['last_updated'] }}</li>           
                        <li>Library created: {{ stats['created'] }}</li>           
                        <li>{{ stats['total'] }} comics, including {{ stats['series'] }} series and {{ stats['persons'] }} creators/contributors</li>           
                    </ul>
                    <a href="/comiclist/browse">
                    <h3>
                    <center><strong>View entire library</a> or
                    <a href="#main_search">search</a> or
                    <a href="#main_browse">browse</a></strong></center>
                    <h3>
                    <div id="scan_status">
                    </div>
                    <div id="scan_status_detail">
                    </div>    
                </div>
                <div id="main_random">
                    <span><h3>Random Pull</h3></span>
                    <a href="/comic/{{random_comic.id}}/reader" target="_blank">
                                   <img src="/comic/{{random_comic.id}}/thumbnail?api_key={{api_key}}">
                                   <span class="comic_caption">{{random_comic.series}} #{{random_comic.issue}}</span>
                               </a>
                    
                </div>
            </div>
            <br>          
            <div class="main_recent">
                <h3>Most Recent Additions</h3>
                <div class="cover_list">
                <ul>
                    {% for comic in recently_added %}
                        {% block comic %}
                            <li>
                                <a href="/comic/{{comic.id}}/reader" target="_blank">
                                   <img src="/comic/{{comic.id}}/thumbnail?api_key={{api_key}}">
                                   <span class="comic_caption">{{comic.series}} #{{comic.issue}}</span>
                               </a>
                            </li>    
                        {% end %}
                    {% end %}
                </ul>
                </div>
            </div>
            <br>
            <div class="main_recent">
                <h3>Most Recently Read</h3>
                <div class="cover_list">
                <ul>
                    {% for comic in recently_read %}
                        {% block comic %}
                            <li>
                                <a href="/comic/{{comic.id}}/reader" target="_blank">
                                   <img src="/comic/{{comic.id}}/thumbnail?api_key={{api_key}}">
                                   <span class="comic_caption">{{comic.series}} #{{comic.issue}}</span>
                               </a>
                            </li>    
                        {% end %}
                    {% end %}
                </ul>
                </div>
            </div>            
            <br>
                <div id="main_browse">
                    <h3>Entity Browser</h3>
                    Browse through the comic database by clicking entity types, then values, to narrow down the list of comics.
                    Clicking "comics" will give the filtered-down list.<br>
                    
                    <center><b><a href="entities/browse/">
                        Entity browser
                    </a></b></center>
                </div>
            <br>  		 
            <div id="main_search">
                <h3>Search Comics</h3>
                <div>
                    <div id="main_search_form" onsubmit="searchSubmit()">
                        <form action="comiclist/browse" method="get">
                            <span class="param"><label>Series</label><input type="text" name="series"></span>
                            <span class="param"><label>Publisher</label><input type="text" name="publisher"></span>
                            <span class="param"><label>Filename</label><input type="text" name="path"></span>
                            <span class="param"><label>Character</label><input type="text" name="character"></span>
                            <span class="param"><label>Team</label><input type="text" name="team"></span>
                            <span class="param"><label>Location</label><input type="text" name="location"></span>
                            <span class="param"><label>Story Arc</label><input type="text" name="storyarc"></span>
                            <span class="param"><label>Tag</label><input type="text" name="tag"></span>
                            <span class="param"><label>Volume</label><input type="text" name="volume"></span>
                            <span class="param"><label>Creator/Contributor</label><input type="text" id="person_input"></span>

                            <span class="param"><label>Role</label>
                                <select  id="roles_select">
                                    <option value="">---</option>
                                    {% for role in roles %}
                                        {% block role %}
                                            <option value="{{role}}">{{role}}</option>
                                        {% end %}
                                    {% end %}
                                </select>	
                            </span>

                            <br>
                            <span class="param"><label>Publication Start Date</label><input type="text" name="start_date"></span>
                            <span class="param"><label>Publication End Date</label><input type="text" name="end_date"></span>
                            <span class="param"><label>Added Since</label><input type="text" name="added_since"></span>
                            <!--
                            <span class="param"><label>Order By</label>
                                <select name="order">
                                <option value="">---</option>
                                <option value="series">Series</option>
                                <option value="added">Date Added</option>
                                <option value="volume">Volume</option>
                                <option value="issue">Issue</option>
                                <option value="date">Publication Date</option>
                                </select>	
                            </span>
                            <span class="param"><label>Order descending</label><input type="checkbox" name="order_desc"></span>
    
                            <span class="param"><label>Max Results</label><input type="text" name="per_page"></span>
                            -->
                            <input type="hidden" name="credit" id="credit_input">
                            <span class="param"><label>.  </label><input type="submit" value="Search"/></span>
                        </form>         
                    </div>
                    <div id="main_search_help">
                        <span>
                            Most text fields will accept a "*" as a wildcard.  For example:<br>
                            <br>
                            *Walking*<br>
                            Brian*Vaughn<br>
                            Image*<br>
                            <br>
                            <br>
                            Date fields expect format "YYYY-MM-DD hh:mm:ss".  You may omit the any right-most portion.  For example:<br>
                            <br>
                            2014<br>
                            2014-03<br>
                            2014-03-12<br>			
                        </span>
                    </div> 
                </div>
            </div>
            <br>   
        
        </div>
    
        <div id=navigation>
            {% include menu.html %}
        </div>
       
    </body>
</html>

