<!DOCTYPE html>
{% set title = "ComicStreamer: Login" %}
<html>
    <head>
        <meta charset="utf8">
        <link rel="icon" href="/favicon.ico" />	      
        
        <title>{{title}}</title>
        
        <style type="text/css">
            @import "{{ static_url('comicstreamer.css') }}";    
        </style>
        
    </head>
    <body>
        <div id="header">
            {% include header.html %}
        </div>                
        <div id=content>
            <form class="entry_form" action="/login" method="post">
                {% module xsrf_form_html() %}
                <input  type="hidden" name="next" value="{{next}}" />
                <span>Username</span><div><input type="text" name="username" size="15"/></div>
                <span>Password</span><div><input  type="password" name="password" size="15"/></div>
                
                <input type="submit" id="submit_btn" class="formbutton" value="Login" alt="Login">
            </form>
        </div>
    
        <!--
        <div id=navigation>
            {% include menu.html %}
        </div>
        -->    
      
    </body>
</html>
