body
{
    font: 80% "Trebuchet MS", arial, helvetica, sans-serif;
    margin: 0;
}

h1, h2
{
    margin: 0;
}
/*---------------------------------------------*/
#resultset
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}
#resultset td, #resultset th 
{
	font-size:1em;
	border:1px solid #3399FF;
	padding:3px 7px 2px 7px;
}
#resultset th 
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#47A3FF;
	color:#ffffff;
}
#resultset tr.alt td 
{
	color:#000000;
	background-color:#EBF5FF;
}
#resultset tr:hover
{
    cursor: pointer;
    background-color: #EBF5FF;	
}

/*---------------------------------------------*/
#navigation
{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100px; 
    /*border:1px solid #667295;*/
    padding:4px;
}

ul.nav
{
    list-style-type:none;
    margin:0;
    padding:0;    
}

#header
{
    background: #6495ED;
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
}

#header img {
    vertical-align: middle;
}


#content
{
    margin-left: 100px;
	padding:20px;
}


#tbd
{
    color:#000; background-color:#E1E5F1; 
    /*border:1px solid #667295;*/
    padding:4px;
    width:650px;
    font-style: italic;
}

#main_search
{
    color:#000; background-color:#008B8B; 
    /*border:1px solid #667295; */
    padding:4px;
    width:650px;
	height: 600px;
	display: table;

}
#main_search_form
{
    width:350px;
	/*float: left;*/
	display: table-cell;
}
#main_search_help
{
	position: relative;
	display: table-cell;
	text-wrap: normal;
}

#main_browse
{
    color:#000; background-color:#6495ED; 
    padding:4px;
    width:650px;
}

#main_topbar
{ 
    color:#000; background-color:#6495ED; 
    padding:4px;
    width:650px;
}

#main_stats
{ 
    color:#000; background-color:#6495ED; 
    padding:4px;
    width:450px;
	display: table-cell;
}
#main_random
{
    padding:4px;
    width:auto;
    padding:3px 3px;
    text-align:center;
    display:table-cell;
    vertical-align:middle;	
}

#main_random span
{
    display:block;
}

#scan_status
{
    font-size:.9em;
}
#scan_status_detail
{
    font-family: Lucidatypewriter, monospace;
    font-size:.7em;
}
.comic_caption
{
	padding:3px 0 0;
	display:block;
	padding: 3px;
	font: 11px/1.4em Arial, sans-serif; 	
}
#main_random a
{
    color: #000000;
    text-decoration: none;
}
.param
{
	/*display: inline-block;*/
}

#main_search label
{
	display: block;
	margin-bottom: -1em;
}


#main_search input, #main_search select
{
	display: block;
	position: relative;
	left: 130px;
	top: -0.5em;
}

#main_search input
{
	width: 200px;
}


.main_recent
{
    color:#000; background-color:#008B8B; 
    padding:4px;
    width:650px;
    height: 320px;
}

.cover_list
{
    width:650px;
    margin:0px auto;
    overflow-y:hidden;
    float: left;
}
.cover_list ul
{
    margin:0;
    padding:0;
    display:table;
    list-style:none;
}
.cover_list li 
{
    padding:3px 3px;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
}
.cover_list img
{
    border:0;
    display:block;
    margin:0px auto;
}

.cover_list a
{
    color: #000000;
    text-decoration: none;
}


.result_row:hover 
{
    cursor: pointer;
    background-color: #008B8B;
}

/*--------------------------------------------------*/
.comicdetails {
    font-family:Tahoma, Geneva, sans-serif;
    width:100%;
    border-collapse:collapse;
    font-size:.9em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#EEEEFF;
    color:#000000;
    display: block;
}

ui-tooltip .ui-tooltip-content,
.ui-tooltip p,
.ui-tooltip ul,
.ui-tooltip li,
.ui-tooltip,
.qtip {
    max-width: 500px;
    min-width: 50px;
    /*font-size: 17px;*/
	font-size:1em;
    line-height: 19px;
    text-align: center;
    background-color:#EEEEFF;
    color:#000000;
    border-color: #666;
}


.comicdetails_top {
    width:100%;
    height: auto;
    position: relative;
}
.cd_links {
	margin-bottom: 5px;
}

.cd_thumbnail {
    /*position: absolute;*/
    float: left;
    left: 0px;
    margin-right: 10px;
    max-height: 200px
}
.clearfix {
    overflow: auto;
}
.comicdetails_top_right {
    position: relative;
	overflow:auto;
}
.cd_path {
    font-family: Lucidatypewriter, monospace;
    font-size:.7em;
}
.cd_issue {
    display: inline;
    font-size:1.1em;
    font-weight: bold;
}
.cd_comments {
    position: relative;
    clear: left;
    display: block;
}
.cd_title {
    font-style: italic;
}
.cd_volume {
    display: inline;
}
.cd_date {
    display: inline;
}
.cd_publisher {
    display: inline;
}
.cd_pagecount {
    display: inline;
}
.cd_comments {
    width:100%;
}
.cd_credits {
    border-collapse:collapse;
}
.cd_credits td {
    font-size:.9em;
    border:3px solid #EEEEFF;
    padding:3px 7px 2px 7px;
    background-color: #DDDDDD;
}
.cd_lists {
    border-collapse:collapse;
}
.cd_lists td {
    font-size:.9em;
    border:3px solid #EEEEFF;
    padding:3px 7px 2px 7px;
    background-color: #DDDDDD;
}

/*----------------------------------------------*/
.entry_form    {
	/*
	background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	*/
	/*margin:auto;*/
	position:relative;
	width:550px;
	height:450px;
	/*font-family: Tahoma, Geneva, sans-serif;*/
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #09C;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
}
.entry_form .help   {
	font-size: 12px;
	font-weight: normal;
	color: #555555;
}
.entry_form #statusbad   {
	font-weight: normal;
	color: #aa2222;
}              
.entry_form #statusgood   {
	font-weight: normal;
	color: #22aa22;
}              
.entry_form input    {
	width:375px;
	display:block;
	border: 1px solid #999;
	height: 25px;
}
.entry_form textarea#folders {
	width:375px;
	height:75px;
}

.entry_form textarea#folders {
	display:block;
}

.entry_form .formbutton {
	width:100px;
	right:20px;
	bottom:20px;
	background:#09C;
	color:#fff;
	font-family: Tahoma, Geneva, sans-serif;
	height:30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #999;
}

#key_btn {
	width:70px;
	left:30px;
	height:25px;
	margin-left: 10px;
}

#submit_btn {
	margin-top: 10px;
}
.entry_form .formcheck {
	width:20px;
	right:20px;
	bottom:20px;
	height:20px;
}
#api_key {
	display: inline-block;
}
.formbutton:hover {
	background:#fff;
	color:#09C;
}

.entry_form textarea:focus, input:focus {
	border: 1px solid #09C;
}


.dynatable-processing span{
	/*position:fixed;*/
	background:#fff;
	color:#000;
	font-size: 30px;
	font-style: italic;
    padding:3px 7px 2px 7px;

	border: 1px solid #000;
}


.browser_current {
    font-size:1.2em;
    font-weight: bold;
}

/*
.browser_list ul {  font-size:1em; }
.browser_list  li { line-height:20px; }
*/
.browser_list { width:320px;  font-size:15px; }
.browser_list ul { list-style: none; }
.browser_list ul li { }
.browser_list ul li a { display:block; text-decoration:none; color:#000000; background-color:#FFFFFF; line-height:25px;
   padding-left:5px; cursor:pointer; }
.browser_list ul li a:hover { color:#3399FF; Ê }
   
/*
.browser_list ul li a:hover { color:#FFFFFF; background-image:url(../images/hover.png); background-repeat:repeat-x; }
*/
.browser_list ul li a strong { margin-right:10px; }
